<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h3>Create New Product</h3>

    <form th:action="@{/product/create}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input th:field="*{productName}" type="text" class="form-control mb-4 col-4" id="nameInput" placeholder="Enter product name">
            <small class="text-danger" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></small>
        </div>
        <div class="form-group">
            <label for="quantityInput">Quantity</label>
            <input th:field="*{productQuantity}" type="number" class="form-control mb-4 col-4" id="quantityInput" placeholder="Enter product quantity">
            <small class="text-danger" th:if="${#fields.hasErrors('productName')}" th:errors="*{productQuantity}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>