<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1>Error</h1>
  <div class="alert alert-danger" role="alert">
    <p>An unexpected error occurred. Please check other pages.</p>
  </div>
  <a href="/product/list" class="btn btn-primary">Go to Product List</a>
</div>
</body>
</html>